<!DOCTYPE html>
<html>
	<head>
		 <meta charset="UTF-8" />
		 <title>{{ page.title }}</title>
		 <link rel="stylesheet" href="/css/asciidoctor-default.css" type="text/css" />
		 <link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>
	<body>
		{{ content }}
		
		<footer>
			<hr>
			<p>
				Mail:<img src="/images/email.png" alt="If you see this text, then there is a problem to get the image." /><br />
				GitHub: <a href="https://github.com/paly2">github.com/paly2</a> <br />
				Star us on GitHub! <a href="https://github.com/paly2/paly2.github.io">github.com/paly2/paly2.github.io</a>
			</p>
		</footer>
	</body>
</html>
