<!DOCTYPE html>
<html>
	<head>
		 <meta charset="UTF-8" />
		 <title>{{ page.title }}</title>
		 <link rel="stylesheet" href="/css/asciidoctor-default.css" />
		 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />
		 <link rel="stylesheet" href="/css/style.css" type="text/css" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">&laquo; Index page</a></li>
			</ul>
		</nav>
		
		<br>
		
		<h1><center>{{ page.title }}<center></h1>
		
		{{ content }}
		
		<footer>
			<hr>
			<p> <br /> paly2's blog.<br />
				Mail:<img src="/images/email.png" alt="If you see this text, then there is a problem to get the image." /><br />
				GitHub: <a href="https://github.com/paly2">github.com/paly2</a> <br />
				Star us on GitHub! <a href="https://github.com/paly2/paly2.github.io">github.com/paly2/paly2.github.io</a>
			</p>
		</footer>		
	</body>
</html>
