<!DOCTYPE html>
<html>
	<head>
		 <meta charset="UTF-8" />
		 <title>{{ page.title }}</title>
		 <link rel="stylesheet" href="/css/asciidoctor-default.css" />
		 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" />
	</head>
	<body>
		<nav>
			<p>&laquo; <a href="/">Index page</a></p>
		</nav>
		
		<h1>{{ page.title }}</h1>
		
		{{ content }}
		
		<footer>
			<p> <br /> paly2's blog. <br />
				Mail: plangrognet@laposte.net
				GitHub: <a href="https://github.com/paly2">github.com/paly2</a> <br />
				Star us on GitHub! <a href="https://github.com/paly2/paly2.github.io">github.com/paly2/paly2.github.io</a>
			</p>
		</footer>		
	</body>
</html>
